[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/nitro-contracts"]
	path = lib/nitro-contracts
	url = git@github.com:OffchainLabs/nitro-contracts.git
	branch = v1.1.0
