PARENT_RPC=
PARENT_DEPLOYER_KEY=
CHILD_RPC=
CHILD_DEPLOYER_KEY=
L1_ROUTER=
L2_ROUTER=
INBOX=

## USDC (or EURC) address on the parent chain
L1_USDC=

## Naming params for the bridged token which is deployed to child chain. Values should be adjusted based on the parent chain and currency used
## Circle's naming guideline: https://brand.circle.com/d/M9z54TaEwsWL/stablecoins#/-/usdc-brand-guide/usdc-naming-guidelines
L2_TOKEN_NAME='USDC'
L2_TOKEN_SYMBOL='USDC.e'
L2_TOKEN_CURRENCY='USD'

## OPTIONAL arg. If set, script will register the gateway, otherwise it will store TX payload in a file
ROLLUP_OWNER_KEY=