PARENT_RPC=
PARENT_DEPLOYER_KEY=
CHILD_RPC=
CHILD_DEPLOYER_KEY=
L1_ROUTER=
L2_ROUTER=
INBOX=
L1_USDC=
## if OWNER_IS_MULTISIG == true, then script will prepare multisig TX and store it in file
OWNER_IS_MULTISIG=
## if OWNER_IS_MULTISIG is not true, then script will use this key to perform registration
ROLLUP_OWNER_KEY=